* {
    font-family: 'Bangers', cursive;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    transition: 0.3s ease all;
}

body {
    background: #303339;
    height: calc(100vh - 1em);
}

nav,
footer {
    background-color: #222;
    display: fixed;
    color: white;
    vertical-align: middle;
    padding: 0.5em 1em;
    left: 0;
    right: 0;
    position: fixed;
    font-size: 0.75em;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
}

.container {
    margin: 1em;
    color: white;
    text-shadow: 1px 1px 4px #000;
    position: fixed;
    top: 2em;
    /* width: calc(100vw - 2em); */
    width: 90vw;
    height: calc(100vh - 6em);
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 200px 1fr;
}

#left-column,
#center-column {
    border-radius: 4px;
    padding: 0.5em 1em;
    background: rgba(255, 255, 255, 0.1);
}

input {
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    font-size: 1em;
    padding: 1em;
    width: 100%;
    margin-bottom: 0.5em;
    box-shadow: 1px 1px 4px #222;
}

a {
    text-decoration: none;
}

input:hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 8px #222, 0px 0px 1em white inset;
}

#button1 {
    position: relative;
    z-index: 1;
    background: lightyellow;
}

.activebutton1 {
    /* border-radius: 100% 100% 0% 0%; */
    font-size: 0.7em;
}

#button2 {
    position: relative;
    background: limegreen;
    opacity: 0;
    transform: translate(0px, -60px) scale(0);
}

#button3 {
    position: relative;
    background: coral;
    opacity: 0;
    transform: translate(0px, -60px) scale(0);
}

#buttonMarvel {
    font-family: 'Bangers';
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 4px black;
    background: cornflowerblue;
    position: relative;
}

#buttonDC {
    font-family: 'Bangers';
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 4px black;
    background: darkmagenta;
    position: relative;
}

#sec-buttons {
    display: block;
}

.slideIn {
    animation: slideIn 1s forwards ease-in-out;
}

.slideOut {
    animation: slideOut 1s forwards ease-in-out;
}

.fadeIn {
    animation: fadeIn 18s forwards ease-in-out;
}

.fadeInOut {
    top: 0;
    right: 0;
    animation: fadeInOut 20s forwards ease-in-out;
}

.fadeInOut2 {
    top: 0;
    right: 0;
    animation: fadeInOut2 10s forwards ease-in-out;
}

.fadeOut {
    animation: fadeOut 1s forwards ease-in-out;
}

.normal-bg {
    animation: none;
    opacity: 0;
    margin-left: 0px;
}

#bg2,
#bg {
    position: relative;
    /* z-index: -1; */
    margin-left: 0px;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    align-self: center;
}

#bg2,
#bg-wrap2 {
    width: 200px;
    /* border: solid 2px yellow; */
}

#bg2,
#bg {
    height: 100vh;
    margin-left: -400px;
    width: auto;
}

#bg-wrap2,
#bg-wrap {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    align-content: center;
    text-align: center;
    margin: -0.5em -1em;
    position: absolute;
    height: 100%;
    max-width: calc(100% - 200px - 1em);
    overflow: hidden;
}

#bg-wrap {
    width: 100%;
}

#main-content {
    height: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr;
}

#button-hero {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

#hero-display {
    border-radius: 4px;
    /* padding: 1em; */
    /* background: rgba(255, 255, 255, 0.25); */
    /* align-content: center; */
}

#hero-display a {
    color: yellowgreen;
}

#hero-display {
    display: grid;
    margin: 0;
    grid-gap: 1em;
    grid-template-columns: auto 1fr;
    z-index: 1;
    max-width: 100%;
    max-height: 600px;
}

#hero-img-container {
    min-width: 420px;
    max-height: calc(100% - 2em) !important;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

#hero-img {
    z-index: -1;
    width: auto;
    width: 100%;
    animation: slideIn 1s ease-in-out;
    overflow: hidden;
}

#hero-name {
    max-width: 400px;
    font-family: 'Bangers';
    font-size: 2.5em;
    margin: 0.25em 0.5em;
    position: absolute;
    z-index: 1;
    animation: slideIn ease-in-out;
    text-align: center;
    text-shadow: 2px 2px solid black;
}

#hero-real-name {
    color: yellow;
}

#hero-aliases {
    color: limegreen;
}

#hero-data {
    max-height: calc(100% - 2em);
    box-shadow: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px #000;
}