* {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    transition: 0.3s ease all;
}

body {
    background: #303339;
    height: calc(100vh - 1em);
}

nav,
footer {
    background-color: #222;
    display: fixed;
    color: white;
    vertical-align: middle;
    padding: 0.5em 1em;
    left: 0;
    right: 0;
    position: fixed;
    font-size: 0.75em;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
}

.container {
    align-self: center;
    margin: 1em;
    color: white;
    text-shadow: 1px 1px 4px #000;
    position: fixed;
    top: 2em;
    /* width: calc(100vw - 2em); */
    width: 90vw;
    height: calc(100vh - 6em);
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 200px 1fr;
}

#left-column,
#center-column {
    border-radius: 4px;
    padding: 0.5em 1em;
    background: rgba(255, 255, 255, 0.1);
}

input {
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    font-size: 1em;
    padding: 1em;
    width: 100%;
    margin-bottom: 0.5em;
    box-shadow: 1px 1px 4px #222;
}

a {
    text-decoration: none;
}

input:hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 8px #222, 0px 0px 1em white inset;
}

#button1 {
    position: relative;
    z-index: 1;
    background: lightsteelblue;
}

.activebutton1 {
    /* border-radius: 100% 100% 0% 0%; */
    font-size: 0.7em;
}

#button2 {
    position: relative;
    background: cornflowerblue;
    opacity: 0;
}

#button3 {
    position: relative;
    background: coral;
    opacity: 0;
}

#buttonHero {
    display: block;
    position: relative;
    background: limegreen;
    width: 100%;
    align-self: center;
}

#sec-buttons {
    display: block;
}

.slideIn {
    animation: slideIn 1s forwards;
}

.slideOut {
    animation: slideOut 1s forwards;
}

.fadeIn {
    animation: fadeIn 18s forwards;
}

.fadeInOut {
    top: 0;
    right: 0;
    animation: fadeInOut 20s forwards;
}

.fadeInOut2 {
    top: 0;
    right: 0;
    animation: fadeInOut2 20s forwards;
}

.fadeOut {
    animation: fadeOut 1s forwards;
}

.normal-bg {
    animation: none;
    opacity: 0;
    margin-left: 0px;
}

#bg2,
#bg {
    position: relative;
    /* z-index: -1; */
    margin-left: 0px;
    overflow: hidden;
    height: 100%;
    width: auto;
    align-self: center;
}

#bg2,
#bg-wrap2 {
    width: 200px;
    /* border: solid 2px yellow; */
}

#bg2,
#bg {
    height: 100vh;
    margin-left: -400px;
    width: auto;
}

#bg-wrap2,
#bg-wrap {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    align-content: center;
    text-align: center;
    margin: -0.5em -1em;
    position: absolute;
    height: 100%;
    max-width: calc(100% - 200px - 1em);
    overflow: hidden;
}

#bg-wrap {
    width: 100%;
}

#main-content {
    height: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr;
}

#button-hero {
    display: block;
    align-content: center;
}

#hero-display {
    border-radius: 4px;
    padding: 1em;
    /* background: rgba(255, 255, 255, 0.25); */
    /* align-content: center; */
}

#hero-display {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr;
    z-index: 1;
    max-width: 100%;
    max-height: 600px;
}

#hero-img-container {
    /* position: absolute; */
    /* width: 100%; */
    max-height: calc(100% - 3em) !important;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5);
}

#hero-img {
    z-index: -1;
    width: auto;
    max-width: 100%;
    animation: slideIn 1s;
    border-radius: 4px;
    overflow: hidden;
}

#hero-name {
    margin: 0.5em 1em;
    position: absolute;
    z-index: 1;
    animation: slideIn 1s;
    text-align: center;
    text-shadow: 2px 2px solid black;
}

#hero-data {
    /* border: solid 2px lime; */
    box-shadow: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px #000;
}